{{ define "orgCharts" }}
{{ template "part_org_header" . }}

<script src="/static/js/charts.js" type="text/javascript" charset="utf-8"></script>

<h2>Vývoj jezer</h2>
<div style="width:100%; margin: 0px auto;">
	<canvas id="graph-status"></canvas>
</div>

<h2>Vývoj peněz týmů</h2>
<div style="width:100%; margin: 0px auto;">
	<canvas id="graph-teams"></canvas>
</div>

<script>
	window.chartColors = {
		red: 'rgb(255, 99, 132)',
		orange: 'rgb(255, 159, 64)',
		yellow: 'rgb(255, 205, 86)',
		green: 'rgb(75, 192, 192)',
		blue: 'rgb(54, 162, 235)',
		purple: 'rgb(153, 102, 255)',
		grey: 'rgb(201, 203, 207)'
	};

	var colorNames = Object.keys(window.chartColors);
	var config_teams = {
		type: 'line',
		data: {
			labels: [{{range .History}}'{{.RoundNumber}}',{{end}}].reverse(),
			datasets: [
			{{range $i, $team := .Teams}}
				{
					label: '{{$team.Part}} - {{$team.Name}}',
					backgroundColor: window.chartColors[colorNames[{{$i}} % colorNames.length]],
					borderColor: window.chartColors[colorNames[{{$i}} % colorNames.length]],
					data: [{{range $.History}}{{(index .Teams $i).FinalMoney}},{{end}}].reverse(),
					fill: false,
				},
			{{end}}
			]
		},
		options: {
			responsive: true,
			tooltips: {
				mode: 'index',
				intersect: false,
			},
			hover: {
				mode: 'nearest',
				intersect: true
			},
			scales: {
				xAxes: [{
					display: true,
					scaleLabel: {
						display: true,
						labelString: 'Kolo'
					}
				}],
				yAxes: [{
					display: true,
					scaleLabel: {
						display: true,
						labelString: '🍉'
					}
				}]
			}
		}
	};
	var config_status = {
		type: 'line',
		data: {
			labels: [{{range .History}}'{{.RoundNumber}}',{{end}}].reverse(),
			datasets: [
			{
				label: 'JEZERO A',
				backgroundColor: window.chartColors.blue,
				borderColor: window.chartColors.blue,
				data: [{{range $.History}}{{.FinalState.GetA}},{{end}}].reverse(),
				fill: false,
			},
			{
				label: 'JEZERO B',
				backgroundColor: window.chartColors.red,
				borderColor: window.chartColors.red,
				data: [{{range $.History}}{{.FinalState.GetB}},{{end}}].reverse(),
				fill: false,
			}
			]
		},
		options: {
			responsive: true,
			tooltips: {
				mode: 'index',
				intersect: false,
			},
			hover: {
				mode: 'nearest',
				intersect: true
			},
			scales: {
				xAxes: [{
					display: true,
					scaleLabel: {
						display: true,
						labelString: 'Kolo'
					}
				}],
				yAxes: [{
					display: true,
					scaleLabel: {
						display: true,
						labelString: '🍉'
					}
				}]
			}
		}
	};

	window.onload = function() {
		var graph_teams = document.getElementById('graph-teams').getContext('2d');
		window.graph_teams = new Chart(graph_teams, config_teams);
		var graph_status = document.getElementById('graph-status').getContext('2d');
		window.graph_status = new Chart(graph_status, config_status);
	};
</script>


{{ end }}
