{{ define "orgDashboard" }}
{{ template "part_header" . }}
<h1>Dashboard</h1>

<style type="text/css">
	#dashboard td{
		text-align: center;
	}
	#dashboard td {
		opacity: 0.5;
	}
	#dashboard td.success {
		border: 2px solid green;
		opacity: 1;
	}
</style>

<a href="teams">Teams</a>
<h2>Akce</h2>
{{ template "part_messageBox" . }}

<form method="post">
	<input type="submit" class="btn btn-primary" onclick="return confirm('Ukončit kolo?');" name="calculateRound" value="Ukončit kolo">
</form>

{{$allActions := .AllActions}}

<h2>Historie kol</h2>

<table class="table table-bordered" id="history">
<thead>
	<tr><th rowspan='2'>Kolo</th><th rowspan='2'>Stav</th><th colspan="{{len .Teams}}">Peníze a akce</th></tr>
	<tr>{{range .Teams}}<th colspan="2">{{.}}</th>{{end}}</tr>
</thead>
<tbody>
	<tr class="info"><th>NOW</th><td>{{.CurrentState}}</td>
		{{range .CurrentActions}}<td></td><td>{{(index $allActions .).DisplayName}}</td>{{end}}
	</tr>
	{{range .History}}
		<tr><th>{{.RoundNumber}}</th><td>{{.StartState}} -> {{.FinalState}}</td>
			{{range .Teams}}
				<td>{{.StartMoney}} -> {{.FinalMoney}}</td>
				<td>{{if .Message}}<span title="{{.Message}}" style="border-bottom: 1px dotted;">{{else}}<span>{{end}}{{(index $allActions .Action).DisplayName}}</span></td>
			{{end}}
		</tr>
	{{end}}
</tbody>
</table>


</tbody>
</table>
{{ end }}
