{{ define "orgDashboard" }}
{{ template "part_org_header" . }}

<h1 style="text-align: center;">Stav jezera: {{.CurrentState}}</h1>
<div id="roundNumber">Kolo: {{.RoundNumber}}</div>

{{ if .CountdownActive }}
	<h2 style="text-align: center;">Další kolo za <span id="countdown">{{ .CountdownSeconds }}</span></h2>
	<script type="text/javascript">
	window.onload = function () {
		startTimer({{ .CountdownSeconds }}, document.querySelector('#countdown'), function() {
			window.location.reload()
		});
	};
	</script>
{{ end }}

<div id="controls">
	{{ template "part_messageBox" . }}
	<form method="post">
		<input type="submit" class="btn btn-primary btn-block" onclick="return confirm('Ukončit kolo?');" name="calculateRound" value="Ukončit kolo">
	</form>
	<form method="post" style="margin-top: 4px;">
		<input type="submit" class="btn btn-danger btn-block" onclick="return confirm('Pozot! Toto vymaže všechny kola, pokračovat?');" name="resetGame" value="Resetovat hru">
	</form>
	<form method="post" style="margin-top: 4px;">
		<input type="submit" class="btn btn-default btn-block" name="sendState" value="Znovuposlat stav vizualizátoru">
	</form>
	<form method="post" style="margin-top: 4px;">
		Odpočet: <input type="number" name="countdown" value="120" min="1" size="6">
		<div class="btn-group">
			<input type="submit" class="btn btn-warning" name="submit-time-start" value="Spustit">
			<input type="submit" class="btn btn-warning" name="submit-time-stop" value="Zastavit">
		</div>
	</form>
</div>

<h2>Historie kol</h2>

<table class="table table-bordered" id="history">
<thead>
	<tr><th rowspan='2'>Kolo</th><th rowspan='2'>Stav</th><th colspan="{{mult 2 (len .Teams)}}">Peníze a akce</th></tr>
	<tr>{{ $prevPart := "" }}{{range .Teams}}
		<th {{ if ne $prevPart .Part}}style="border-left: 2px solid #444444;"{{ $prevPart = .Part }}{{end}} colspan="2">{{.Name}} ({{.Part}})</th>
	{{end}}</tr>
</thead>
<tbody>
	<tr class="info"><th>NOW</th><td>{{.CurrentState}}</td>
		{{ $prevPart := "" }}
		{{ range .CurrentActions }}
			<td {{ if ne $prevPart .Team.Part}} style="border-left: 2px solid #444444;"{{ $prevPart = .Team.Part }}{{end}}></td>
			<td>{{(index $.AllActions .Action).DisplayName}}</td>
		{{ end }}
	</tr>
	{{range .History}}
		<tr><th>{{.RoundNumber}}</th><td>{{if .Message}}<span title="{{.Message}}" style="border-bottom: 1px dotted;">{{else}}<span>{{end}}{{.StartState}} ⇛ {{.FinalState}}</span></td>
			{{ $prevPart := "" }}
			{{range .Teams}}
				<td {{ if ne $prevPart .Team.Part}} style="border-left: 2px solid #444444;"{{ $prevPart = .Team.Part }}{{end}}>
					{{- if .Found}}{{.StartMoney}} -> {{.FinalMoney}}{{end -}}
				</td>
				<td>{{if .Message}}<span title="{{.Message}}" style="border-bottom: 1px dotted;">{{else}}<span>{{end}}{{(index $.AllActions .Action).DisplayName}}</span></td>
			{{end}}
		</tr>
	{{end}}
</tbody>
</table>

</tbody>
</table>

</body>
</html>
{{ end }}
