{{ define "orgTeams" }}
{{ template "part_header" . }}

<div class="container">

<a href="dashboard" style="float: right;"><button class="btn btn-default">Dashboard (game control)</button></a>

<h1>Teams</h1>

{{ template "part_messageBox" . }}

<table class="table table-striped">
{{ $prevPart := "" }}
{{range .Teams}}
{{ if ne $prevPart .Part}}
<thead>
	<tr><th colspan="4">Part {{ .Part }}</th></tr>
	<tr><th>Login</th><th>Name</th><th colspan=2>Actions</th></tr>
</thead>
{{ $prevPart = .Part }}
{{ end }}
	<tr>
		<td>{{.Login}}</td><td>{{.Name}}</td>
		<td>{{if .Password}}🔑&nbsp;{{else}}<i><small>[not set]</small></i>{{end}}
		<form method="post" class="form-inline">
			<input type="hidden" name="login" value="{{.Login}}">
			<input type="password" name="setPassword" placeholder="New password">
			<input type="submit" class="btn btn-primary" value="Set password">
		</form>
		<td><form method="post" onsubmit="return confirm('Delete the {{.Name}} team?');" class="form-inline">
			<input type="hidden" name="deleteTeam" value="{{.Login}}">
			<input type="submit" class="btn btn-danger" value="Delete team">
		</form></td>
		</td>
	</tr>
{{end}}
</table>

<h2>Add new team</h2>
<form method="post" class="form-inline">
	<div class="form-group">
		<label for="newTeamLogin">Login</label>
		<input type="text" name="newTeamLogin" id="newTeamLogin" class="form-control">
	</div>
	<div class="form-group">
		<label for="newTeamName">Team name</label>
		<input type="text" name="newTeamName" id="newTeamName" class="form-control">
	</div>
	<div class="form-group">
		<label for="newTeamPart">Game part</label>
		<select name="newTeamPart" id="newTeamPart" class="form-control">
			<option value="A">A</option>
			<option value="B">B</option>
		</select>
	</div>
	<input type="submit" class="btn btn-primary" value="Add new team">
</form><br>

</div>

</body>
</html>
{{ end }}
