{{ define "orgTeamsPasswords" }}
{{ template "part_org_header" . }}

<div class="container">

<h1>Tým – hesla</h1>

<p><a href="teams">Zpět</a></p>

{{ if .Teams }}
<div class="teams_passwords">
<div class="row">
{{ $baseURL := .BaseURL }}
{{ $lastBaseID := (index .Teams 0).BaseID }}
{{range .Teams}}
	{{if ne $lastBaseID .BaseID}}
	</div>
	<div class="row">
	{{ $lastBaseID = .BaseID }}
	{{end}}

	<div>
		<table>
		<tr><th colspan=2><h3>{{.Name}} ({{.Part}})</h3></th><td rowspan=3><img src="qr-gen?text={{$baseURL}}{{.QuickLoginURL}}"></td></tr>
		<tr><td>Login:</td><td><code>{{.Login}}</code></td></tr>
		<tr><td>Heslo:</td><td><code>{{.Password}}</code></td></tr>
		</table>
	</div>
{{end}}
</div>
</div>
{{else}}<i>žádné týmy</i>{{end}}

</body>
</html>
{{ end }}
