{{ define "orgTeams" }}
{{ template "part_header" . }}

<a href="dashboard" style="float: right;"><button class="btn btn-default">Dashboard (game control)</button></a>

<h1>Teams</h1>

{{ template "part_messageBox" . }}

<table class="table">
<thead>
	<tr><th>Login</th><th>Name</th><th colspan=2>Actions</th></tr>
</thead>
<tbody>
	{{range $login, $team := .Teams}}
	<tr>
		<td>{{$login}}</td><td>{{$team.Name}}</td>
		<td>{{if $team.Password}}🔑&nbsp;{{else}}<i><small>[not set]</small></i>{{end}}
		<form method="post" class="form-inline">
			<input type="hidden" name="login" value="{{$login}}">
			<input type="password" name="setPassword" placeholder="New password">
			<input type="submit" class="btn btn-primary" value="Set password">
		</form>
		<td><form method="post" onsubmit="return confirm('Delete the {{$team.Name}} team?');" class="form-inline">
			<input type="hidden" name="deleteTeam" value="{{$login}}">
			<input type="submit" class="btn btn-danger" value="Delete team">
		</form></td>
		</td>
	</tr>
	{{end}}
</tbody>
</table>

<h2>Add new team</h2>
<form method="post" class="form-inline">
	<input type="text" name="newTeamLogin" placeholder="Login">
	<input type="text" name="newTeamName" placeholder="Name">
	<input type="submit" class="btn btn-primary" value="Add new team">
</form>
</body>
</html>
{{ end }}
