{{ define "teamIndex" }}
<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ .Title }}</title>
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/funkyradio.css">
  <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico'>
  <!--<meta http-equiv="refresh" content="5">-->
</head>
<body>
<style type="text/css" media="screen">
#teamName {
	text-align: center;
	font-style: italic;
	color: #777777;
}

h1, h2, h3 {
	margin: 5px 0px;
	text-align: center;
}
</style>

<script type="text/javascript">
function httpGet(theUrl) {
	var xmlHttp = new XMLHttpRequest();
	xmlHttp.open("GET", theUrl, false); // false for synchronous request
	xmlHttp.send(null);
	return xmlHttp.responseText;
}

function checkNewRound() {
	var round = httpGet("getRound");
	if (round != "{{.RoundNumber}}") {
		window.location.reload(false);
	}
}

setInterval(checkNewRound, 1000);
</script>


<div class="col-md-4" style="border: 0px;">

{{ $ourState := index .GlobalState .Team.Part }}

<div id="teamName">Tým: {{.Team.Name}}</div>
<h1><small>Stav:</small> {{.GlobalState}}</h1>
<h3><small>Vaše polovina:</small> {{.Team.Part}} ({{ $ourState }})</h3>
<h3><small>Kolo:</small> {{.RoundNumber}}</h3>

<div class="input-group">
  <span class="input-group-addon"><b>ZEĎcoinů:</b></span>
  <input type="text" class="form-control" value="{{.Money}}" disabled style="font-weight: bold; text-align: right;">
  <span class="input-group-addon">Ꙃ</span>
</div>

{{if .GameMessage}}<div id="gameMessage"><b>Výsledek minulé akce:</b> {{.GameMessage}}</div>{{end}}
{{if .GlobalMessage}}<div id="globalMessage">{{.GlobalMessage}}</div>{{end}}

<h2>Akce</h2>
{{ template "part_messageBox" . }}

<form method="post" id="actionsForm">
	<div class="funkyradio">
		{{$selectedAction := .SelectedAction}}
		{{$money := .Money}}
		{{range $id, $action := .Actions}}
			{{$active := $action.Check $ourState $money }}
			<div class="funkyradio-success">
				<input type="radio" id="radio{{$id}}" name="setAction" value="{{$id}}" onchange="document.getElementById('actionsForm').submit();"
					{{- if eq $selectedAction $id}} checked{{end}}{{if not $active}} disabled{{end}}>
				<label for="radio{{$id}}">{{$action.DisplayName}}</label>
			</div>
		{{end}}
	</div>
	<!---<center><input type="submit" class="btn btn-primary" value="Zvolit akci"></center>--->
</form>

{{$allActions := .Actions}}

<h2>Historie kol</h2>

<table class="table table-bordered table-striped" id="history">
<thead>
	<tr><th rowspan='2'>Kolo</th><th colspan='2'>Počáteční</th><th rowspan='2'>Akce</th><th colspan='2'>Finální</th></tr>
	<tr><th>Stav</th><th>Peníze</th><th>Stav</th><th>Peníze</th></tr>
</thead>
<tbody>
{{range .History}}
	<tr>
		<th rowspan="2">{{.RoundNumber}}</th>
		<td>{{.StartState}}</td><td>{{.StartMoney}}</td>
		<th>{{(index $allActions .Action).DisplayName}}</th>
		<td>{{.FinalState}}</td><td>{{.FinalMoney}}</td>
	</tr>
	<tr><td colspan="5">{{.Message}}{{if and .Message .GlobalMessage}}<br>{{end}}{{.GlobalMessage}}</td></tr>
{{end}}
</tbody>
</table>

</div>
</body>
</html>
{{end}}
