{{ define "teamIndex" }}
{{ template "part_header" . }}

<style type="text/css" media="screen">
#teamName {
	text-align: center;
	font-style: italic;
	color: #777777;
}

h1, h2, h3 {
	margin: 5px 0px;
	text-align: center;
}
</style>

<script type="text/javascript">
function checkHash() {
	var round = httpGet("getHash");
	if (round != "{{.Hash}}") {
		window.location.reload();
	}
}
setInterval(checkHash, 1000);
</script>


<div class="col-md-4" style="border: 0px;">

{{ $ourState := index .GlobalState .Team.Part }}
{{ $moneySymbol := .Variant.TemplateMoneySymbol }}
{{ $stateSymbol := .Variant.TemplateStateSymbol }}

<div id="teamName">Tým <b>{{.Team.Name}}</b> v části <b>{{.Team.Part}}</b></div>
<h1><small>{{.Variant.TemplateStateName}}</small> {{.GlobalState.Pretty $stateSymbol}}</h1>
<h3><small>Kolo</small> {{.RoundNumber -}}
{{- if .CountdownActive -}}
	<small>, další kolo za</small> <span id="countdown">{{ .CountdownSeconds }}</span></h3>
	<script type="text/javascript">
	window.onload = function () {
		startTimer({{ .CountdownSeconds }}, document.querySelector('#countdown'), function() {
			window.location.reload()
		});
	};
	</script>
{{ else}}
</h3>
{{ end }}

<div class="input-group">
  <span class="input-group-addon"><b>{{.Variant.TemplateMoneyName}}:</b></span>
  <input type="text" class="form-control" value="{{.Money}}" disabled style="font-weight: bold; text-align: right;">
  {{if $moneySymbol}}<span class="input-group-addon">{{$moneySymbol}}</span>{{end}}
</div>

{{if .GameMessage}}<div id="gameMessage"><b>Výsledek minulé akce:</b> {{.GameMessage}}</div>{{end}}
{{if .GlobalMessage}}<div id="globalMessage">{{.GlobalMessage}}</div>{{end}}

<h2>Akce</h2>
{{ template "part_messageBox" . }}

<form method="post" id="actionsForm">
	<div class="funkyradio">
		{{$selectedAction := .SelectedAction}}
		{{$money := .Money}}
		{{range $id, $action := .Actions}}
			{{$active := $action.Check $ourState $money }}
			<div class="funkyradio-success">
				<input type="radio" id="radio{{$id}}" name="setAction" value="{{$id}}" onchange="document.getElementById('actionsForm').submit();"
					{{- if eq $selectedAction $id}} checked{{end}}{{if not $active}} disabled{{end}}>
				<label for="radio{{$id}}">{{$action.DisplayName}}</label>
			</div>
		{{end}}
	</div>
	<!---<center><input type="submit" class="btn btn-primary" value="Zvolit akci"></center>--->
</form>

{{$allActions := .Actions}}

<h2>Historie kol</h2>

<table class="table table-bordered table-striped" id="history">
<thead>
	<tr><th rowspan='2'>Kolo</th><th colspan='2'>Počáteční</th><th rowspan='2'>Akce</th><th colspan='2'>Finální</th></tr>
	<tr><th>Stav</th><th>{{.Variant.TemplateMoneyName}}</th><th>Stav</th><th>{{.Variant.TemplateMoneyName}}</th></tr>
</thead>
<tbody>
{{range .History}}
	<tr>
		<th rowspan="2">{{.RoundNumber}}</th>
		<td>{{.StartState.Pretty $stateSymbol}}</td><td>{{.StartMoney}}{{$moneySymbol}}</td>
		<th>{{(index $allActions .Action).DisplayName}}</th>
		<td>{{.FinalState.Pretty $stateSymbol}}</td><td>{{.FinalMoney}}{{$moneySymbol}}</td>
	</tr>
	<tr><td colspan="5">{{.Message}}{{if and .Message .GlobalMessage}}<br>{{end}}{{.GlobalMessage}}</td></tr>
{{end}}
</tbody>
</table>

</div>
</body>
</html>
{{end}}
